.menu {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #004d00, #4d0000, #4d4d00, #00004d, #641e00);
	background-size: 400% 400%;
	animation: gradient 30s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.songlist {
    flex-basis: 70%;
}

.songlist-panel {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 25px;
    background-color: #000000bf;
    border-radius: 5px;
    box-shadow: 1px 10px 51px 0px rgba(0,0,0,0.75);
}

.songinfo {
    flex-basis: 30%;
    max-width: 25%;
}

.songinfo-panel {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 25px;
    background-color: #000000bf;
    border-radius: 5px;
    box-shadow: 1px 10px 51px 0px rgba(0,0,0,0.75);
    height: 100%;
}

.songitem {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.songitem > span {
    text-transform: uppercase;
    opacity: 0.8;
}

.songitem:hover {
    cursor: pointer;
    background-color: #8d8d8d;
}

.btn-play-container {
    margin: 25px;
    text-align: center;
    margin-right: 100px;
    margin-left: 25px;
}

.btn-play {
    cursor: pointer;
    font-family: inherit;
    font-size: 18pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #004d00;
    color: #fff;
    border-radius: 5px;
    border-color: #fff;
}

.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #D3A81E;
    border-left:   .3em solid transparent;
    font-size: 10px;
}

.star:before, .star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right:  1em solid transparent;
    border-bottom: .7em  solid #D3A81E;
    border-left:   1em solid transparent;
    transform: rotate(-35deg);
}

.star:after {  
    transform: rotate(35deg);
}

.star-empty {
    border-bottom: .7em  solid #FFFFFF;
}

.star-empty:before, .star-empty:after {
    border-bottom: .7em  solid #FFFFFF;
}
